[2021-09-24 18:32] graybeal commented on #168
There is a parallel discussion happening in OBO at https://github.com/information-artifact-ontology/ontology-metadata/issues/71. That was driven by versioning of axioms but it is all tied together.

We definitely do have to display the full string. (As a practical matter, the order expressed in the W3C notion suffered from a few fundamental flaws, the most noticeable being that >99% of the time th

[2021-09-24 18:34] balhoff commented on #168
@jvendetti @graybeal we've been making a push to add `owl:versionInfo` across OBO, although it's up to each ontology project to make the addition. The versionInfo will be the varying part of the version IRI.

[2021-09-24 18:34] graybeal commented on #168
To @jvendetti 's point, we're going to be doing a lot of prioritizing of BioPortal improvements soon, and it's my hope that supporting both versionInfo and versionIRI as visible metadata will be a high priority. Which doesn't give us dates but at least hints at the possible direction.

[2021-10-06 11:59] jonquet commented on #168
I confirm that 2 changes are necessary (I believed) as discussed in this thread:

- OBO Foundry ontologies (and any ontologies in general) to use owl:versionInfo to store the version number of the ontology. This is a string that CAN by used in the user interface and that is supposed to be "human friendly"
- BioPortal to implement additional metadata properties for which owl:versionIRI is one among

[2021-10-08 01:37] graybeal commented on #168
Agree with @jonquet , but not with depending on versionInfo containing strictly a version *number*. Unless I'm mistaken other forms may be useful (e.g., 1.0.1 is not a number).

[2021-10-12 00:38] jvendetti opened #219 "Diff is failing for AFO ontology"
Received a report from end user that [AFO](https://bioportal.bioontology.org/ontologies/AFO) is displaying an "Error Diff" status on the summary page.

Stack trace from parsing log:

[code]

[2021-10-12 19:26] jvendetti opened #220 "404 error on classes page for DFO, VFB_DRIVERS ontologies"
BioPortal displays a 404 error for the [classes page](https://bioportal.bioontology.org/ontologies/DFO?p=classes) for the [DFO ontology](https://bioportal.bioontology.org/ontologies/DFO). No errors in the production parsing log.

The underlying reason for the 404 is that the REST API is returning an empty set for the /roots endpoint and the UI can't construct a class tree without roots.

The [/cla

[2021-10-15 03:52] graybeal commented on #216
Updated support list notification:
[code]
Points from today so far:
* In the current submission 5 folder's log file, the same rapper issue as noted above occurred;
no previous part of the parsing process reported an issue. (Note the parsing log file in the Admin page
shows submission 4.)
* I've uploaded v2.1 to staging to confirm that the problem still doesn't occur in staging.
* I've tried repars

[2021-10-15 21:56] jvendetti commented on #220
What appears to be another instance of this issue was reported today for the [VFB_DRIVERS](https://bioportal.bioontology.org/ontologies/VFB_DRIVERS) ontology. The [/roots](http://data.bioontology.org/ontologies/VFB_DRIVERS/classes/roots) endpoint is returning an empty set, resulting in a 404 error on the Classes page in the Rails application. Like DFO, this ontology has a total of two root classes

[2021-10-17 19:14] jvendetti commented on #216
The issue preventing label generation in production turned out to be incorrect advanced owl options specified by the end user in the new/edit submission form for the preferred name, synonym, and author properties:

![Screen Shot 2021-10-15 at 6 01 54 PM](https://user-images.githubusercontent.com/1696923/137641425-1d1059c5-bc0a-4824-b001-938f6a79c3c6.png)

The above fields must contain a full prope

[2021-10-17 21:07] graybeal commented on #216
emailed sender of original problem on support list.

[2021-10-17 21:07] #216 closed, assigned to graybeal, jvendetti

[2021-10-18 14:02] jonquet commented on #216
FYI: Since appliance 3.0, we also have a bunch of "local:" prefixes that are added here and there in our metadata properties by AgroPortal. They don't come form user edits. I assume this is a bug of the form.

[2021-10-18 22:42] graybeal commented on #216
Mmm... hard to imagine how this form would cause that. Worth opening a new ticket with more precise details.

[2021-10-18 22:44] graybeal opened #221 "improved troubleshooting for rapper calls"
When rapper calls fail in BioPortal, they are hard to troubleshoot because (a) there is no indicator that the rapper command was executing or what exactly the command was, (b) the rapper error messages are very brief and don't contain the text of the document near the failure point, (c) there are two rapper calls (according to old/OntoPortal documentation, and you can't tell which one failed, and

[2021-10-27 21:16] jvendetti commented on #219
Performed the following:

* Downloaded ontology source files from the last two submissions (numbers 22 and 23)
* Used my local copy of the bubastis JAR file to generate a diff file (diff succeeded w/out errors)
* Uploaded the resulting bubastis_diff.xml file to production
* For submission 23:
  * Set the diffFilePath attribute
  * Removed the "ERROR_DIFF" status
  * Added the "DIFF" status

[2021-10-28 21:30] graybeal opened #222 "Figure out how to make New Issues the default lane"
Right now it still seems to send new issues to Backlog.

[2021-10-29 18:11] #219 closed, assigned to jvendetti

[2021-11-02 00:31] graybeal opened #223 "ECSO ontology not displaying classes/properties"
The ECSO ontology is showing errors instead of data for the classes and properties tab, shows that metrics haven't been calculated even though the log file seems to say they have, and https://data.bioontology.org/ontologies/ECSO/classes
produces
[code]

Seems like to be a metadata error.

[2021-11-02 20:32] mdorf commented on #223
I am unable to reproduce this issue. A clear of the internal caches may have fixed it.

[2021-11-02 20:37] #223 closed, assigned to mdorf

[2021-11-15 23:29] #166 closed, assigned to alexskr

[2021-11-19 00:51] jvendetti opened #224 "MDM: roots endpoint results in 504 gateway time-out error, unable to view classes"
End user reported a 500 error when trying to view the classes for the [MDM ontology](https://bioportal.bioontology.org/ontologies/MDM). Underlying cause is a 504 error from the following REST call to retrieve the roots:

http://data.bioontology.org/ontologies/MDM/classes/roots

I opened MDM.xrdf (source file submitted by end user) in the Protege application. It's a bag of terms with no hierarchy,

[2021-11-19 01:01] jvendetti commented on #224
I manually set the "flat" attribute on the ontology to true, which means that the end user will be able to navigate to the Classes tab for MDM and use the "Jump to:" text box to search for classes in the ontology. The specific class they attempted to view is now accessible via this URL:

https://bioportal.bioontology.org/ontologies/MDM?p=classes&conceptid=https%3A%2F%2Fgo.drugbank.com%2Fdrugs%2FDB

[2021-11-19 19:21] jvendetti commented on #224
Note that setting the ontology object's flat attribute to true also prevents the 504 error from surfacing from the call indicated above:

http://data.bioontology.org/ontologies/MDM/classes/roots

BioPortal's REST API will only return the first 1,000 root classes for flat ontologies (https://github.com/ncbo/ontologies_linked_data/blob/c4562ccb355af5a664e23e079960b7a788763d18/lib/ontologies_linked_d

[2021-11-22 22:12] graybeal opened #225 "Test Issue"

[2021-11-23 01:56] graybeal commented on #185
@jvendetti Do you think this can be closed?

[2021-11-23 01:58] graybeal commented on #184
@jvendetti If #181 is closed maybe this one can be too.

[2021-11-23 04:21] graybeal commented on #215
The changes were rolled back and this should be not a problem any more.

[2021-11-23 04:21] #215 closed, assigned to mdorf

[2021-11-23 05:41] graybeal opened #226 "kljlkl"

[2021-11-23 05:47] #226 closed, assigned to nobody

[2021-11-23 05:55] graybeal commented on #147
I think we might have actually done this, but it's ancient history now.

[2021-11-23 05:55] #147 closed

[2021-11-23 05:57] graybeal commented on #151
The policy has not worked out well in practice, at least with those low limits. Maybe I'll try increasing them considerably.

[2021-11-23 22:40] alexskr opened #227 "containerize all ontoportal components"
Containerize/dockerize all ontoportal components to streamline development, improve new developer onboarding, and migrate unit tests from in-house Jenkins to cloud-based unit testing workflows such as GitHub actions

[2021-11-23 22:44] alexskr opened #228 "process and load UMLS 2021AB release"

[2021-11-23 22:48] alexskr opened #229 "refactor OntoPortal CI/CD pipeline"
OntoPortal CI/CD pipeline needs to be refactored.

current Jenkins-based jobs are cumbersome and brittle so they need to be refactored or migrated to other CI/CD pipelines

[2021-11-23 23:04] alexskr opened #230 "refactor log aggregation/analysis/APM for BioPortal"
refactor the way we do log aggregation/analysis for BioPortal.

[2021-11-29 22:12] graybeal opened #231 "UATC purls wrong"
User comments (and I've confirmed):
[code]

[2021-11-29 23:51] alexskr commented on #231
@graybeal There are two ways to fix this issue:
1. update uml2rdf config file and re-generate ACT with `http://purl.bioontology.org/ontology/ATC` PURL prefix.
2. do not change the PURL but set up redirection on the purl server such that  `http://purl.bioontology.org/ontology/UATC`  gets redirected to  `http://bioportal.bioontology.org/ontology/ATC`

In the past, we have done solution `#2` for onto

[2021-11-29 23:53] graybeal commented on #231
Yes, I vote for the first solution, especially as we're about to regenerate it anyway. If we get complaints the second is an option, at least for a time. But someone will want UATC eventually so hopefully we can drop it now.

[2021-11-30 16:46] cmungall opened #232 "Support ontology subsets"
It would be useful to be able to dynamically filter by subsets

[I will add more details later]

[2021-11-30 18:08] alexskr commented on #231
done

[2021-12-01 00:54] jvendetti commented on #185
I think this should remain open and we should consider refactoring this code if time allows.

If an end user navigates to the class tree for an ontology and selects a class that has a lot of mappings (e.g., the "Event" class in SNOMEDCT), the Rails application issues hundreds of Ajax calls in order to build the display for the Class Mappings tab.

Just to flesh this out w/more detail - the followi

[2021-12-06 18:41] alexskr commented on #228
NCBITAXON ontology hasn't been updated since 2020AB and needs to be fixed

[2021-12-06 19:23] alexskr commented on #228
owlapi-wrapper run out of java heap space.  Hardcoded `-Xmx10240M` is not enough to process NCBITAXON

[2021-12-09 16:40] jvendetti opened #233 "DRON: BioPortal's nightly pull fails for this ontology"
Received a complaint on the support list from an end user that classes weren't accessible for [DRON](https://bioportal.bioontology.org/ontologies/DRON).

Our nightly pull process is unable to download new versions of the ontology source file from GitHub due to this known issue:

https://github.com/ncbo/ontologies_linked_data/issues/112

As a temporary workaround, I manually uploaded a new file-bas

[2021-12-10 20:35] alexskr opened #234 "ontology file downloads of RDF/XML and Diff format should be named after the ontology acronym."
When downloading RDF/XML format ontologies the file gets saved as owlapi.xrdf and Diff gets saved as bubastis_diff.xml.  A more user-friendly approach would be to include ontology names in those filenames.
Downloads of csv format work as expected - files get saved as <ontology_acronym>.csv.gz

Also, we should consider storing RDF/XML and diffs files compressed.

[2021-12-10 21:43] graybeal opened #235 "Tag Maker"

[2021-12-13 19:39] jvendetti commented on #128
We're running solr 8.8.2 in production, which depends on a version of the Log4J library with a security vulnerability. From the solr website:

https://solr.apache.org/security.html#apache-solr-affected-by-apache-log4j-cve-2021-44228

Initially brought to our attention via the ontoportal-dev mailing list:

https://mailman.stanford.edu/mailman/suprivate/ontoportal-dev/2021-December/000006.html

[2021-12-13 19:59] jvendetti commented on #128
@alexskr recommends the following temporary workaround for OntoPortal appliance users:

[2022-01-24 23:03] jvendetti opened #236 "BioPortal U24: provide 4store dump to Lawrence Berkeley National Laboratory"
@alexskr - the BioPortal U24 grant has kicked off, and we'd like to provide our collaborators at LBNL with a dump of our production 4store data.

Do I remember correctly that you've created dumps before? If so, are you able to provide a dump minus the private ontologies?

Also, are you able to clarify the format of the dumps? Is it RDF triples?

[2022-01-24 23:33] nlharris commented on #236
I can't tag Chris or me or add labels or anything to this ticket. When @graybeal has a chance maybe he can give me more powers in the ncbo org.

[2022-01-25 00:59] jvendetti commented on #236
@nlharris - I sent an invitation to give you "triage" access. Does that help?

[2022-01-25 02:28] nlharris commented on #236
Yes! Thanks!

[2022-01-25 02:29] nlharris commented on #236
Can you give cmungall a level that lets us @ him?

[2022-01-25 06:09] alexskr commented on #236
4store dump/export creates an N-Triples file for each graph but we could covert that to n-quad as a single file if that's better.

[2022-01-25 18:06] jvendetti commented on #236
@nlharris - I sent Chris an invitation with the same "triage" privileges. Let me know once he accepts if you're able to @ him.

[2022-01-26 05:32] nlharris commented on #236
Thanks! Not yet, but he may not have responded to the invitation yet.

[2022-02-03 17:04] jvendetti opened #237 "Remove Resource Index dependency across BioPortal API layer"
The [NCBO Resouce Index](https://github.com/ncbo/resource_index) is deprecated / hasn't been under active development for years. Most of BioPortal's API layer repositories still have a dependency on the Resource Index, including:

- ontologies_api
- ontologies_linked_data
- ncbo_ontology_recommender
- ncbo_annotator
- ncbo_cron

The Resource Index code base has very old dependencies, e.g., Elastic

[2022-02-03 17:13] jvendetti commented on #237
Ideally after the dependency is removed, we could use GitHub's [repository archiving functionality](https://github.blog/2017-11-08-archiving-repositories/) to mark the Resource Index as archived (still accessible to everyone, but read-only).

[2022-02-04 00:42] #228 closed, assigned to alexskr

[2022-02-04 00:44] alexskr commented on #236
I uploaded 4store data dump of public ontologies to the google drive

[2022-02-04 01:47] jvendetti opened #238 "Incorrect character display for terms in Spanish language SNOMED"
End user reported on the support list that there are display issues with the character set for Spanish language version of SNOMEDCT ([SCTSPA](https://bioportal.bioontology.org/ontologies/SCTSPA?p=classes)).

One example is the class with a CUI of C0586399. The issue is visible both at the UI layer:

https://bioportal.bioontology.org/ontologies/SCTSPA/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontol

[2022-02-07 17:36] jonquet commented on #165
I would only suggest to add this parameter to the API documentation :
http://data.bioontology.org/documentation#nav_search

[2022-02-08 00:30] jvendetti opened #239 "MedDRA: significant source file size decrease after 2020AB release"
Contacted by an end user that reported a significant decrease in the size of the MedDRA ontology source file between releases. I looked at the file size for all submissions, and noticed a steady increase through the 2020AB release, after which there's a significant drop:

| UMLS release  | BioPortal submission ID | File size (in MB) |
| --- | :---: | ---: |
| 2021AB | 19 | 62 |
| 2021AA | 18 | 61.

[2022-02-18 22:24] alexskr commented on #239
the only obvious difference I see is that in 2021AB TTL file terms do not have any "SIB" relationships unlike in previous versions.

[code]

[2022-02-19 00:57] graybeal commented on #239
remove the SIB lines from the 16 version and you're within 4.4% (43K lines) of the 19 version. Pretty suspicious, allowing for natural growth.

[2022-02-24 14:36] jonquet commented on #189
CC @syphax-bouazzouni who has implemented a fix for this recently.

[2022-02-24 14:45] syphax-bouazzouni commented on #189
The fix https://github.com/ncbo/ontologies_api/pull/78

[2022-03-09 10:56] jonquet commented on #228
Hi @alexskr
@syphax-bouazzouni has created a PR to address the setting of the heap-size:
https://github.com/ncbo/ontologies_linked_data/pull/130

We have another out of memory issue showing up (at 4store level) after significantly increasing the heap size at the owl-api level (10>20Gb). We would be interested to know if you run into this too with NCBITAXON.
https://github.com/ontoportal-lirmm/onto

[2022-03-09 23:49] alexskr commented on #228
@syphax-bouazzouni PR looks great!  Thank you!

@jonquet we are not running into this particular problem with 4store when processing NCBITAXON but our environment might be different from what you have.  We use separate/dedicated VMs for parsing/ncbo_corn and for 4store so we don't have a memory contention issue you might be running into.   Also, we use a secondary 4store instance when processing U

[2022-03-10 21:50] #236 closed, assigned to alexskr, jvendetti

[2022-03-10 21:52] #201 closed, assigned to nobody

[2022-03-21 16:40] jvendetti opened #240 "REST API returns empty set for pairwise mappings between BIOLINK and MONDO"
@sierra-moxon reported that the following REST call returns an empty set:

http://data.bioontology.org/mappings?ontologies=BIOLINK,MONDO&display_context=false&display_links=false

@alexskr - is there any logging output for the last time you manually performed the regeneration of mapping counts described here: https://github.com/ncbo/bioportal-project/issues/210? I'd like to check the logs to see i

[2022-03-21 16:57] cmungall commented on #240
we might want to double check this is a pipeline error rather than in the mapping algorithm itself

I would only expect a single point of contact between the two, on this term, based on the highlighted exact synonym:

id: MONDO:0000001
name: disease or disorder
def: "A disease is a disposition to undergo pathological processes that exists in an organism because of one or more disorders in that org

[2022-03-21 17:16] alexskr commented on #240
@jvendetti  log: `/srv/ncbo/ncbo_cron-ALTERNATE_4store/logs/mappings_20220303`

[2022-03-21 20:26] sierra-moxon commented on #240
Maybe 'mondo:disease or disorder' is just too different (lexically) than biolink:disease to make a match here?
(similarly, 'po:plant anatomical entity' does not match 'biolink:anatomical entity' at the moment.

[2022-03-22 21:39] jvendetti commented on #240
Yes, you're right @sierra-moxon.

The "intermediary" triples that I've referred to in our telecons that the API uses to materialize LOOM mappings look like the following:

[code]

... where the subject is the class ID, the predicate is the mapping type (in this case LOOM), and the object is the preferred name of the class in lowercase with all spaces and punctuation removed. The API finds no lexic

[2022-03-23 17:28] alexskr opened #241 "ruby 2.6 is EOL as of 2022-03-31"
ruby 2.6 is EOL as of 2022-03-31

we need to check and upgrade all projects to be compatible with ruby 2.7+

[2022-04-05 15:41] jvendetti opened #242 "CADSR-VS latest submission failed to process"
BioPortal shows [CADSR-VS](https://bioportal.bioontology.org/ontologies/CADSR-VS) submission 164 with status "Uploaded", and nothing further.

Parsing log file at `/srv/ncbo/repository/CADSR-VS/164` shows processing started, then halted:

[code]

`ncbo_cron` console session shows latest submission as invalid:

[code]

[2022-04-05 16:18] jvendetti commented on #242
Deleted corrupt / invalid submission (ID 164). Added new submission using identical properties from previous submissions. New submission is currently second in the processing queue:

[code]

[2022-04-05 21:31] jvendetti opened #243 "HGNC-NR latest submission failed to process"
[HGNC-NR](https://bioportal.bioontology.org/ontologies/HGNC-NR) submissions with IDs 3 and 4 show only as "Uploaded" in BioPortal with no further processing statuses.

[2022-04-06 15:29] jvendetti commented on #243
Directories for submissions 3 and 4 just had OWL files in them - nothing else, i.e., no parsing log files. Unclear why these weren't picked up by the ncbo_cron parsing job. Deleted empty submission objects (IDs 3 and 4) using an ncbo_cron console session. Created a new submission with identical properties from previous submissions.

[2022-04-15 18:42] graybeal opened #244 "FMA ontology misbehaving"
CEDAR's StatusCake tests for BioPortal are reporting this error for FMA:

I thought I'd report at least initial troubleshooting via this ticket as a reference case.

[2022-04-15 18:51] graybeal commented on #244
I duplicated the issue by trying to access that API URL, it still reports `Internal server error`.

The ontology summary page reports `We're sorry but something has gone wrong. We have been notified of this error.` Other API requests also fail.

I went to the Ontologies Admin page to see if there are any indications of failed processing. Last night's report does not show any issues with FMA, and l

[2022-04-15 18:51] #244 closed, assigned to nobody

[2022-04-23 20:21] jonquet commented on #106
Addressing issue 19 above does not require a change in BioPortal metadata model. The group/domain metadata fields are already there in the current model.

[2022-04-23 22:24] jonquet commented on #130
Cc @syphax-bouazzouni as this is something we are considering doing too.

[2022-04-23 22:54] jonquet commented on #142
This is a weird behavior. I am going to need to reproduce this and have a look with @syphax-bouazzouni

[2022-04-24 04:01] graybeal commented on #106
Issue 19 is for OBO not for BioPortal. I was just saying that issue shows increased metadata interest in that community. (Long before the latest initiative.)

[2022-05-03 17:04] alexskr opened #245 "process and load UMLS 2022AA release"
UMLS 2022AA release is out as of May 2nd.

[2022-05-06 22:29] alexskr commented on #128
Solr has been updated to v8.11.1 for BioPortal and ontoportal appliance.

[2022-05-06 22:29] #128 closed, assigned to mdorf

[2022-05-12 19:41] jvendetti commented on #243
The new submission I created processed successfully (submission ID 3).

[2022-05-12 19:41] #243 closed, assigned to jvendetti

[2022-05-12 19:43] jvendetti commented on #242
Submission 164 successfully processed

[2022-05-12 20:19] jvendetti opened #246 "EuroSciVoc: REST API fails to calculate root classes for this SKOS-format ontology"
We received a report from Xeni (OntoPortal Alliance member) that EcoPortal shows a "Problem retrieving classes" error when trying to view the classes for their EUROSCIVOC SKOS ontology. You can see the behavior on the EcoPortal site here:

http://ecoportal.lifewatch.eu/ontologies/EUROSCIVOC/?p=classes&conceptid=root

(EcoPortal is an instance of the OntoPortal virtual appliance)

Xeni sent me an R

[2022-05-12 23:30] jvendetti commented on #246
From @graybeal:

[2022-05-25 19:16] jvendetti commented on #246
Example unit test code that can be placed in [test_ontology_submission.rb](https://github.com/ncbo/ontologies_linked_data/blob/fc90752c9476cdbd06b102577aec2f9110fbce8d/test/models/test_ontology_submission.rb) to debug this issue:

[code]

Example SPARQL query to retrieve root classes:

[code]

[2022-05-26 00:20] syphax-bouazzouni commented on #246
Hello,
If I can give you my modest help with this.
I think the issue is just a miswriting of the skos hasTopConcept property.

In the resource file, it is written **hasTopconcept** but the correct writing is **hasTopConcept**

[2022-05-26 13:15] jvendetti commented on #246
OMG, a single character in the wrong case.

😫

Thank you for pointing that out Syphax - your eyesight is clearly better than mine.

I modified the hasTopConcept declarations to use the correct case and uploaded a new version of the ontology to our staging environment. I can confirm that this fixes the issue.

![Screen Shot 2022-05-26 at 6 07 26 AM](https://user-images.githubusercontent.com/1696923

[2022-05-26 13:15] #246 closed, assigned to stdotjohn

[2022-05-30 07:51] xeniacs commented on #246
Hi, thank you so much for looking into this. I made the change in EcoPortal as well - thanks Syphax! I did this on Thursday, as soon as I read abt the typo.
After correcting, for some time on Thursday already I could access the Classes without being logged in, but the problem persisted when logged in as admin. I thought it might be a cache issue. Come Monday, I **cannot** access the classes either

[2022-06-02 19:57] jvendetti commented on #246
@xeniacs - was there a newer version of the ontology that was uploaded over the weekend?

Are you able to access your ontology classes and roots in a web browser via the REST API, e.g.:

`http://{ip_address_of_appliance}:8080/ontologies/EUROSCIVOC/classes`
`http://{ip_address_of_appliance}:8080/ontologies/EUROSCIVOC/classes/roots`

You mentioned that you thought it might be a caching issue. Just t

[2022-06-13 19:47] jvendetti commented on #245
@graybeal mentions that there are important workshops coming up on June 20th and 23rd. As a result, initial estimate for beginning the import process is the weekend of June 25th/26th.

[2022-06-20 17:32] jvendetti commented on #245
Latest schedule:

[2022-06-27 22:28] graybeal opened #247 "HUSAT ontology didn't complete processing"
HUSAT didn't process properly last night. It looks like the ontology parsed OK but something else went south with process or file (b)locking. Details from log below.
[code]

I've asked the submitter to resubmit with a slightly improved version, as a possible fast way to resolve the problem (or get more data on it). Will notify if that doesn't work…

[2022-06-27 22:53] jvendetti commented on #247
This error look similar to what I see when the OWL API successfully loads an ontology, but the triplestore won't accept the triples. I'm not a SKOS expert, but it's not evident to me that you can declare concepts using this syntax:

[code]

Using the rapper command line utility shows:

[code]

[2022-06-28 00:03] graybeal commented on #247
oh hey, you beat me to it!  yes, I *think* it wasn't the format of that line but it was the % (and/or ^) values in the IRIs. I forgot to send her a modification to get rid of those before I left, and when we resubmitted with those eliminated it submitted just fine.

Protege is so forgiving it didn't care, but there was one error that I think was unrelated. Protege log for the original file is copi

[2022-06-28 00:03] graybeal commented on #247
There were some really interesting cacheing issues I was seeing while working on this submission, but I'll see if I can find a cacheing ticket to report them to.

[2022-06-28 00:04] graybeal commented on #247
Closed because second submission of a better-formatted file fixed the issue.

[2022-06-28 00:04] #247 closed, assigned to nobody

[2022-06-28 00:57] graybeal commented on #193
See also https://github.com/ncbo/bioportal-project/issues/62 and https://github.com/ncbo/ontologies_api_ruby_client/issues/2, and possibly https://github.com/ncbo/ontologies_api_ruby_client/pull/10

[2022-06-28 01:01] graybeal commented on #193
A weird variation today with HUSAP ontology was that clearing the internal 'Flush UI cache' would cause the submission of the ontology to (newly) appear in the list when the user was logged out, but when the user would logged in, it would be gone from the list. (The user had two tabs open, and I think they were interacting somehow.) Eventually it was possible to Flush UI Cache and the user was log

[2022-06-28 17:07] alexskr opened #248 "migrate to google analytic 4"
Google Analytics 4 is replacing Universal Analytics. On July 1, 2023, Universal Analytics properties will stop processing new hits.

https://support.google.com/analytics/answer/10759417

[2022-07-08 22:08] alexskr commented on #245
UMLS 2022AA is loaded

[2022-07-08 22:08] #245 closed, assigned to alexskr

[2022-07-19 21:14] jvendetti commented on #233
Fixed by https://github.com/ncbo/ontologies_linked_data/pull/134 from @syphax-bouazzouni. Released to production as part of https://github.com/ncbo/ontologies_api/releases/tag/v5.23.0.

[2022-07-19 21:14] #233 closed, assigned to nobody

[2022-07-20 04:46] #237 closed, assigned to alexskr

[2022-07-20 04:47] alexskr commented on #237
resolved in https://github.com/ncbo/ontologies_api/releases/tag/v5.23.0

[2022-07-27 18:37] alexskr commented on #231
re-processed ATC ontology with updated PURL

[2022-07-27 20:05] piehld commented on #231
Hello, thank you for resolving this issue. I can see this update reflected in the CSV file that's available for download. However, it appears that the "Parents" field is missing for a handful of classes which previously had a Parent. Specifically, here are the few that I noticed:
[code]

[2022-07-29 01:13] jvendetti opened #249 "ATC: REST API not returning parents for some classes"
Received a report from end user @piehld that the newly generated CSV file for the [ATC ontology](https://bioportal.bioontology.org/ontologies/ATC) (formerly known as UATC) has some empty Parents fields for classes that used to have parents:

The following examples were provided of classes with missing parents:

[code]

For debugging purposes, I [checked the first term](https://uts.nlm.nih.gov/uts/

[2022-07-29 01:17] jvendetti commented on #249
I opened the TTL file that we generated in Protege for the ATC ontology. The hierarchy correctly shows the "dolutegravir" class as a sublcass of "Integrase Inhibitors, antiinfectives for systematic use".

![Screen Shot 2022-07-28 at 6 14 08 PM](https://user-images.githubusercontent.com/1696923/181662739-f13c9e0c-7d10-42b0-bdc0-a375d8440ab7.png)

[2022-07-29 01:19] jvendetti commented on #249
If you issue a REST API call to get the children for the "Integrase Inhibitors, antiinfectives for systematic use" class, the API only returns 3 children:

![Screen Shot 2022-07-28 at 6 17 58 PM](https://user-images.githubusercontent.com/1696923/181663003-c6b064ed-ee79-46b6-9d3d-fe0022b18549.png)

REST call: https://data.bioontology.org/ontologies/ATC/classes/http%3A%2F%2Fpurl.bioontology.org%2Fon

[2022-07-29 01:22] jvendetti commented on #231
@piehld - I've entered a new issue (#249) regarding the empty Parents fields

[2022-07-29 14:56] piehld commented on #231
@jvendetti Thank you very much

[2022-08-02 22:08] jvendetti commented on #242
Yesterday @martinjoconnor reported that CEDAR was getting 404s from BioPortal trying to access CADSR-VS value sets. During troubleshooting I discovered that submission 198 was corrupt. I deleted the corrupt submission and removed associated files from the production server, and the 404s were resolved.

However, there's a new version of the value set out there, and the nightly pull process failed t

[2022-08-04 20:27] jvendetti commented on #242
Despite deleting the corrupt submission, all subsequent attempts to pull the new version fail with the same characteristics. The only piece of debugging information that I didn't include in the last comment involved an error message I saw when trying to repair the corrupt submission (vs. ultimately deleting).

If you:

* change the submissionId attribute to an integer
* save the submission
* call

[2022-08-04 22:31] mdorf commented on #249
A few additional observations:

1. The class declarations in the source TTL file for "raltegravir" and "dolutegravir" look identical, with both definitions clearly including the `rdfs:subClassOf` notations that point to "Integrase Inhibitors, antiinfectives for systematic use" class:
[code]
Yet, when looking at the properties for each of these classes in the class endpoint in BioPortal, the `rdfs:

[2022-08-04 23:49] mdorf commented on #249
I re-processed the ATC ontology, and the subclasses now appear correctly.

[2022-08-05 19:50] jvendetti commented on #249
Reopening, as we received a follow up message from @piehld enumerating more classes with missing parents:

http://purl.bioontology.org/ontology/ATC/C02LX  -> missing_parent -> http://purl.bioontology.org/ontology/ATC/C02L
http://purl.bioontology.org/ontology/ATC/D01AE54  -> missing_parent -> http://purl.bioontology.org/ontology/ATC/D01AE
http://purl.bioontology.org/ontology/ATC/B06AA03  -> missing

[2022-08-05 22:05] jvendetti commented on #249
@piehld reports:

A REST API call confirms this:

https://data.bioontology.org/ontologies/ATC/classes/http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FATC%2FA03CB01/parents

[code]

So - basically we've processed this ontology three separate times, and each time there appears to be some small set of classes with missing parents. The TTL file still doesn't appear to be the root of the issue. I downlo

[2022-08-05 22:09] jvendetti commented on #249
Information from @piehld about how they're testing:

[code]

[2022-08-06 23:11] mdorf commented on #249
In my system (macOS Monterey), the correct install command was:
[code]

[2022-08-06 23:12] mdorf commented on #249
I got an error running the test script:
[code]

[2022-08-07 02:45] piehld commented on #249
Hi @mdorf, thanks for all your work on this. Yes, that's the error that indicated to me that A03CB01 is still missing its parent.

[2022-08-09 23:07] mdorf commented on #249
I downloaded the ATC TTL file from our Staging server, where ATC appears to have parsed properly. I created a new submission of ATC in production using that file and kicked off its processing. After the processing completed and our internal caches cleared, the Python script yielded this result:

[code]
Does that mean it ran successfully, or could there be other cases that the script isn't catching

[2022-08-10 04:24] piehld commented on #249
@mdorf This looks great, thank you! I am getting the same result too.

[2022-08-12 00:14] mdorf commented on #249
I loaded the version of `ATC.ttl` that resulted in missing parents into our Staging server and re-processed it there. I then pointed the Python script (`testAtcProvider.py`) to the staging server by hacking my local copy of its underlying library, `AtcProvider.py`. The result appears to be positive:

[code]

[2022-08-13 07:08] alexskr opened #250 "AG: process_rdf/Mapping Labels step fails for GAZ, DRON and NCBITAXON"
process_rdf fails for GAZ, DRON, and NCBITAXON with AllegroGraph.

[code]

[code]

[2022-08-13 07:30] alexskr opened #251 "AG: SPARQL::Client::MalformedQuery: MALFORMED QUERY: Line 1, Found '<'."
Parsing fails with AllegroGraph backend for HOOM, ELD, MCCL, ANC and other private ontologies with the following error:
[code]

[2022-08-15 18:18] #241 closed, assigned to nobody

[2022-08-15 18:26] alexskr opened #252 "unable to remove/disable ontology pull from web UI"
I am unable to disable or remove ontology pull URL using web UI.   When I go to edit submission and select Location radio button to "Upload local file", hit save (without selecting any files) UI seems to save my action, at least it redirects me back to the ontology page but when I go back and edit submission the pull location is still set.

[2022-08-25 19:10] alexskr opened #253 "AG: failures loading ontologies with "RestClient::BadRequest: 400 Bad Request: MALFORMED DATA: ___ is not of type ___""
we have a number of ontologies that are failing to process with AG backend

[code]

[code]

Ontologies:

ADALAB
ADALAB-META
ADMIN
BIBFRAME
BIM
BIN
CMECS2012
DPCO
EMO
EO
FO
FOODON
GBM
HIVO004
HNS
HO
IDOBRU
ISO-FOOD
KISAO
LDA
MAMO
MAMOVIEW
MRO
MWS22
NANDO
NOMEN
NXDX
OF
ONTONEO
ONTONEO-DOC
PCALION
PDO
PMDO
SIMON
SMASH
SMASHBIOMARKER
SMASHPHYSICAL
SMASHSOCIAL
SMO
TCDO
XLMOD

[2022-08-25 21:00] alexskr opened #254 "AG: Error during ontologies report paging - ArgumentError: Not supported case for embed"
getting `Error during ontologies report paging - ArgumentError: Not supported case for embed` when processing with AllegroGraph backend for the following ontologies:

CIDIT_V1
CLO
ORDO_OBO
UPHENO
BIOMODELS
MHCRO
CCS_DIFF_CON_ANC
CHEAR
LION
ZP
XREF-FUNDER-REG
CCONT
RH-MESH
WB-BT
GO
HOIP
OGG
CIDIO_AUX
I2B2-LOINC

tracestack:
[code]

[2022-08-25 22:59] alexskr commented on #252
the same problem happens when we try to update owl properties

[2022-08-25 23:25] alexskr opened #255 "AG: error when processing ontology - Goo::Base::NotValidException: Object is not valid."
getting `Goo::Base::NotValidException: Object is not valid`error processing QUDT, GSSO, MADS-RDF, FYPO, MF, ISO19115MI,E COCORE, LCTGM, ONTODRC ontologies.   The ontology load process completes despite the error, and ontology seems to work okay.

[code]

[2022-08-26 00:39] alexskr opened #256 "what is the proper way to handle ontology parsing errors for "Summary Only" ontologies"
ncbo_cron processes "Summary Only" ontologies when running  `ncbo_cron --all-ontologies` and in some cases runs into various parsing errors.
Is it ok to:
1. remove all existing submissions of the ontology since ontology is marked as a summary only?
2. should ncbo_cron handle those more gracefully - i.e skip processing ontology if its marked as summary only

[2022-08-26 01:20] graybeal commented on #256
Why does ncbo_cron do that, because the ontology is sitting there as a leftover?  Ideally ncbo_cron would skip the ontology if it is Summary Only.

[2022-08-26 03:58] alexskr commented on #256
it usually happens when we reparse or reindex all ontologies but that can also happen when we manually request to parse specific ontologies which happen to be summary-only via ncbo_cron or admin web UI.   ncbo_cron would gladly accept the challenge and eventually error out after running owlapi or another step.

We do not allow downloads of summary-only ontologies so is there a good reason to keep

[2022-08-26 04:18] alexskr opened #257 "AG: AllegroGraph operational questions"
List of Operational questions for AllegroGraph:

1.  What does `The number of free http workers is 0, keep-alive may not be honoured.` and `Creating http worker thread #xxx` mean?
[code]

[2022-08-26 04:44] alexskr commented on #257
2. Why sometimes disk usage reported in AllegroGraph webview drastically underreported compared to the disk usage according to OS?  it can be 50% to 80% larger on disk

[2022-08-26 18:43] alexskr commented on #251
we are seeing a similar error for the following API calls:

1. `/ontologies/M4M-21-VARIABLES/classes/http%3A%2F%2Fpurl.org%2Fm4m21%2Fvariables%2F1006/mappings`

Stack Trace:
[code]

2. `/ontologies/DDIEM/classes/http%3A%2F%2Fgroups.google.com%2Fgroup%2Fogms-discuss%2Fbrowse_thread%2Fthread%2Fca0ad373f27774c5%0A%0AOGMS%20call%20adoption-%2016%20SEPT%202015%0Ahttps%3A%2F%2Fdocs.google.com%2Fdocument

[2022-08-26 19:40] graybeal commented on #256
I like that we have them because (a) the owner might someday say "ok make it available again" and then we would have the older history intact, and (b) if someone said "I have this emergency and the health record used terminology from your website and I need to get information about that term" we could look it up and save someone's life. Well, maybe not too likely…

I'm not convinced either of thos

[2022-08-29 04:03] alexskr commented on #257
3. Zombie graph deletion was disabled because of performance issues with 4store.   We need to enable and test graph deletion with AG.

[2022-08-29 18:37] alexskr opened #258 "metrics for class count sometimes gets set as a string instead of an integer"
We are getting `ArgumentError: comparison of String with 0 failed` when accessing `/ontologies/PESONT/classes`

[code]
culprit is:

https://github.com/ncbo/ontologies_api/blob/3728faba77cf227f925a274287a70a7377dcc1d4/controllers/classes_controller.rb#L10
adding `.to_i` to `cls_count` solves the 500 error but I think the root case of the problem is probably elsewhere.

Looking at the metrics we can

[2022-08-29 19:59] alexskr commented on #258
The first and second submissions for PESONT ontology are identical, so I removed 2nd submission and re-processed it.  This fixed metrics for the class count.

[2022-08-31 22:59] mdorf commented on #253
It appears that AG doesn't like this line in the source ontology (I tested the ADMIN ontology):
[code]
The underlying error is:
[code]

[2022-08-31 23:43] mdorf commented on #253
Parsing TCDO, I get a similar error on line:
[code]
error:
[code]

[2022-09-01 00:43] mdorf commented on #253
This issue is related to: ncbo/goo#111

[2022-09-02 19:00] jvendetti opened #259 "New submission creation for AIO fails with duplicate resource ID error"
End user reported on the support list that they were unable to create a new submission for the [AIO ontology](https://bioportal.bioontology.org/ontologies/AIO).

Steps to reproduce:

* Navigate to the AIO [summary page](https://bioportal.bioontology.org/ontologies/AIO).
* Click the Add submission button
* On the [resulting form](https://bioportal.bioontology.org/ontologies/AIO/submissions/new), cl

[2022-09-02 19:27] jvendetti commented on #259
The submission object with an ID of 2 wasn't accessible via an ncbo_cron console session. I used a curl command to manually delete the object from the triplestore, after which I was able to use the Rails application to create a new submission with the desired pull URL from the end user. The ontology is now fully accessible in BioPortal.

[2022-09-02 19:27] #259 closed, assigned to jvendetti

[2022-09-07 16:37] mdorf commented on #251
I am investigating this issue. The following query, indeed, appears to be incorrectly composed:
[code]
You can see that the lines `<http://purl.org/m4m21/?s2 ?g ?source ?o/1006> <http://data.bioontology.org/metadata/def/mappingRest> ?o .` contain predicates inside the `<>` brackets, which should not be the case.

[2022-09-12 21:37] graybeal commented on #253
As I said I would, I took a look at the ontologies listed above, seeing if there were any obvious patterns and how much usage they were getting.

A few 'summary statistics': They are all (!) public. A lot of last uploads in 2015, some in 2017 and 2022, and a smattering of other years (oddly, no 2018 last uploads). The average number of submissions is around 3-4, but there are two humps in the dist

[2022-09-12 22:42] alexskr commented on #253
https://bioportal.bioontology.org/ontologies/MAMOVIEW. (Math _**Ontolofy**_ View)

[2022-09-13 16:13] jonquet commented on #251
cc @syphax-bouazzouni as we were looking at this query recently to "improve" mappings gathering in AgroPortal.

[2022-10-17 18:05] mdorf commented on #251
The failing query for `/ontologies/NCOD/properties`:
[code]

[2022-10-18 21:25] mdorf commented on #251
This error appears to be thrown by AllegroGraph much more frequently than by 4store. The main cause is the presence of illegal characters in the ClassID.

I was able to identify a number of places in our code, where replacing the characters such as " ", "<" or ">" in the ClassID with their URL-encoded counterparts addresses the issue. But, there are multiple other cases, where the constructed quer

[2022-10-18 22:24] mdorf commented on #251
This endpoint call fails due to a space inside the last ClassID:
[code]
Here is the resulting SPARQL query:
[code]

[2022-10-19 21:00] mdorf commented on #251
This is the query that fails during MCCL ontology parsing due to the "[" and "]" characters present in an ID inside the last FILTER clause:
[code]

[2022-10-20 20:57] mdorf commented on #255
For the ontologies QUDT, GSSO, MADS-RDF, MF, the error reported is that the `released` date isn't set in the previous submissions that are due to be archived; therefore, the ontology submission object being archived is reported as being invalid.
[code]
[code]

[2022-10-20 22:54] mdorf commented on #255
Focusing on GSSO, I've checked the previous submissions at random and found that none of them are missing the `released` date except for submission 69. It would be difficult to determine why that property wasn't set in that specific submission. I set it manually, and the error went away for GSSO ontology.

[2022-10-20 23:46] mdorf commented on #251
The exact list of affected ontologies: OPTUM, AUTISM, ELD, MCCL, ETH_ANC, ANC, HOOM.

GAZ and DRON also report MalformedQuery errors but the error is different:
[code]

[2022-10-24 22:22] mdorf commented on #254
I am unable to reproduce this error.

[2022-10-24 23:04] syphax-bouazzouni commented on #254
Hi,
My following remark is maybe not directly related to the issue

In this [line](https://github.com/ncbo/ncbo_cron/blob/master/lib/ncbo_cron/ontologies_report.rb#L348)

[code]
We include the embedded `metrics` attribute for the model `Class`, although it doesn't have it. It's the `ÒntologySubmission` that provides it. This means that the previous request need to be like this

[code]

[2022-10-26 23:10] graybeal commented on #134
The ideal implementation is:
(A) add a checkbox that says "Check box if this account is for a public-facing application or service that is accessing the portal via its API?" (I'm using 'the portal' so it applies to BioPortal or any OntoPortal.)
(B) If the user checks the box, then keep track of that setting for each user and:
(B1) Show a drop-down that asks "What is the type of the application or

[2022-10-28 16:49] mdorf commented on #254
Good catch, I'll fix this in the code.

[2022-10-31 21:40] graybeal opened #260 "Number of visits metric seems not real"
The number of visits at https://bioportal.bioontology.org/visits is almost always a multiple of 20, with occasionally one more added. This strongly suggests that either each visit ends up creating 20 'logged visits', or that the only visits being recorded are from some bot.

The goal is to do some actual tests to see what the visit counters mean, and to fix them to mean the actual number of visits

[2022-11-08 18:03] jvendetti opened #261 "AIO: latest submission failed to process - status "Uploaded, Error Rdf""
Received report from an end user on the support list that the latest version of their [AIO ontology](https://bioportal.bioontology.org/ontologies/AIO) failed to process (submission ID 4). The summary page on BioPortal is showing statuses of "Uploaded, Error Rdf".

Production log file indicates that the OWL API wasn't able to load the ontology:

[code]

Error is reproducible with the following snip

[2022-11-08 18:11] jvendetti commented on #261
The problematic characters are pipes and appear in the following class declaration on lines 5098 and 5106:

[code]

[2022-11-08 18:24] jvendetti commented on #261
I've followed up with the end user with a request to remove the illegal pipe characters, and attempt a re-submission (https://mailman.stanford.edu/pipermail/bioontology-support/2022-November/012916.html).

[2022-11-10 21:32] mdorf commented on #251
I was able to identify the SPARQL query that causes the error: `QUERY FAILED: Not CaaT state: nil...`
[code]

I experimented with the offsets and found the following pattern:

Executes fine:
[code]
Fails:
[code]

Executes fine:
[code]
Fails:
[code]

Running a COUNT query on the graph yields these results:
[code]
and distinct:
[code]
It looks like the graph contains close to 5 million triples, so t

[2022-11-16 16:28] jvendetti commented on #261
New version was uploaded to BioPortal on Nov. 15th (submission ID 5), and processed successfully.

[2022-11-16 16:28] #261 closed, assigned to jvendetti

[2022-11-19 00:54] jvendetti commented on #220
I haven't looked at this issue in a while - both of these ontologies are now displaying properly in BioPortal. I don't remember what methodology was used as a fix here.

[2022-11-19 00:54] #220 closed, assigned to jvendetti

[2022-11-19 00:57] jvendetti commented on #205
This ontology is properly displaying in BioPortal now. I haven't looked at this issue since last year. I don't remember what was done to address the issue.

[2022-11-19 00:57] #205 closed, assigned to jvendetti

[2022-11-23 02:28] jvendetti opened #262 "Can't reprocess NCIT in production without turning off UI traffic"
I recently tried (on 2022-11-17) to reprocess NCIT in production as part of troubleshooting why a particular class wasn't showing up in the class tree. Made two attempts to manually reprocess using the [ncbo_ontology_process](https://github.com/ncbo/ncbo_cron/blob/a1a4babc0b5e36325b5af667a6a50b7af1f5f891/bin/ncbo_ontology_process) script, both of which resulted in bringing down the entire site (4s

[2022-11-23 20:32] alexskr opened #263 "linting and rubocop standard"
Currently, most bioportal/ontoportal developers are linting code one way or another; however, none of the bioportal projects have rubocop configs in place.
I propose adding reasonable linting configs so that code style is enforced consistently across all projects by all developers and external contributors.
Instead of arguing about what rules to enforce when lining, I propose adopting [StandardRB]

[2022-11-24 12:35] syphax-bouazzouni commented on #263
In my opinion it is a great idea, I would suggest even to add also [StandardJS](https://standardjs.com/) for the UI.

[2022-11-29 22:50] alexskr opened #264 "AG: class tree visualization issues with AG backend"
A number of ontologies have class tree visualization problems when BioPortal runs with AllegroGraph backend.  The preferred name is missing so the class tree has blank entries.

![image](https://user-images.githubusercontent.com/1591816/204665199-38c48f5e-b306-45a4-bdec-0a3fe9c9ddec.png)

API shows `perfLabel: null`
![image](https://user-images.githubusercontent.com/1591816/204669429-8cb7a528-4c75

[2022-11-29 23:50] alexskr commented on #264
![image](https://user-images.githubusercontent.com/1591816/204673671-4c99b138-70e7-45de-8257-f5709e746679.png)

[2022-11-30 00:41] alexskr commented on #264
<img width="890" alt="image" src="https://user-images.githubusercontent.com/1591816/204679611-76640385-afeb-4a9b-9974-ee8b54f6d7ad.png">

[2022-11-30 16:40] alexskr commented on #264
updated ncbo_cron to the latest codebase in staging env and reprocessed ontologies.  Missing perfLabel for purl.obolibrary.org/obo/GO_0008150 in GO ontology is fixed.

[2022-11-30 23:31] graybeal commented on #264
labels still missing in Mondo, e.g., https://stage.bioontology.org/ontologies/MONDO/?p=classes&conceptid=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0005200 ('viral dilated cardiomyopathy')

[2022-11-30 23:32] graybeal commented on #264
see also https://github.com/ncbo/ontologies_linked_data/issues/137 for example from production (fixed by re-parsing in that case)

[2022-11-30 23:51] graybeal commented on #264
Note that the MONDO case does not have prefLabels in the original ontology, it only has regular labels throughout the XML/RDF file. I believe the rdf:label is displayed as the Preferred Label annotation when there is no prefLabel.